@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
textarea,
select,
button {
  outline: none;
  background-color: transparent;
  border: none;
}

input {
  outline: none;
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  line-height: 18px;
  box-sizing: border-box;
}

.btn {
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 3px;
  min-width: 110px;
  padding: 10px 12px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
.btn-primary {
  color: #fff;
  background-color: #f05123;
}
.btn-outline {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 16px;
  padding: 4px 10px;
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out;
}
.dropdown.active-dropdown .dropdown-menu {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  margin-right: auto;
  margin-top: 16px;
}

.hero-heading {
  color: #fff;
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 2px;
}

.heading-sm {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 700;
  color: #000;
}

.more {
  color: #f05123;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.post-time {
  font-size: 1.4rem;
  color: #666;
  margin-left: auto;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  display: block;
  padding: 0;
}

.container-fluid.container {
  max-width: 1250px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter .col {
  padding-right: 0;
  padding-left: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.c-0 {
  display: none;
}
.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.c-o-1 {
  margin-left: 8.33333%;
}
.c-o-2 {
  margin-left: 16.66667%;
}
.c-o-3 {
  margin-left: 25%;
}
.c-o-4 {
  margin-left: 33.33333%;
}
.c-o-5 {
  margin-left: 41.66667%;
}
.c-o-6 {
  margin-left: 50%;
}
.c-o-7 {
  margin-left: 58.33333%;
}
.c-o-8 {
  margin-left: 66.66667%;
}
.c-o-9 {
  margin-left: 75%;
}
.c-o-10 {
  margin-left: 83.33333%;
}
.c-o-11 {
  margin-left: 91.66667%;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 644px;
  }
}
/* kích thước > 740px   (tablet trở lên) */
@media (min-width: 740px) {
  .row {
    margin-right: -8px;
    margin-left: -8px;
  }
  .row.sm-gutter {
    margin-right: -5px;
    margin-left: -5px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* offset */
  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* kích thước > 1113px   (PC dởm trở lên) */
@media (min-width: 1113px) {
  .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .l-0 {
    display: none;
  }

  .l-1-big,
.l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* offset */
  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}
/* Pc low */
@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: 984px;
  }

  .container .row {
    margin-right: -12px;
    margin-left: -12px;
  }

  .container .row.l-1-big {
    margin-left: -15px;
    margin-right: -15px;
  }

  .container .row.sm-gutter {
    margin-right: -5px;
    margin-left: -5px;
  }

  .container .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .container .row.l-1-big .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container .row.sm-gutter .col {
    padding-right: 5px;
    padding-left: 5px;
  }

  .container .l-0 {
    display: none;
  }

  .container .l-1-big,
.container .l-1,
.container .l-2,
.container .l-2-4,
.container .l-3,
.container .l-4,
.container .l-5,
.container .l-6,
.container .l-7,
.container .l-8,
.container .l-9,
.container .l-10,
.container .l-11,
.container .l-12 {
    display: block;
  }

  .container .l-1-big {
    flex: 0 0 9.33333%;
    max-width: 9.33333%;
  }

  .container .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .container .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .container .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .container .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .container .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .container .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .container .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .container .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .container .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .container .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .container .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .container .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .container .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* offset */
  .container .l-o-1 {
    margin-left: 8.33333%;
  }

  .container .l-o-2 {
    margin-left: 16.66667%;
  }

  .container .l-o-3 {
    margin-left: 25%;
  }

  .container .l-o-4 {
    margin-left: 33.33333%;
  }

  .container .l-o-5 {
    margin-left: 41.66667%;
  }

  .container .l-o-6 {
    margin-left: 50%;
  }

  .container .l-o-7 {
    margin-left: 58.33333%;
  }

  .container .l-o-8 {
    margin-left: 66.66667%;
  }

  .container .l-o-9 {
    margin-left: 75%;
  }

  .container .l-o-10 {
    margin-left: 83.33333%;
  }

  .container .l-o-11 {
    margin-left: 91.66667%;
  }
}
.header {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #fff;
}
.header__main {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.header__img {
  width: 36px;
  height: 36px;
}
.header__heading {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
}
.header__logo, .header__search, .header__user {
  flex: 1 1;
}
.header__user {
  display: flex;
  justify-content: flex-end;
}
.header__search {
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #dce0e3;
}
.header__search-icon {
  font-size: 2em;
  color: #666;
  margin-left: 10px;
}
.header__input {
  font-size: 1.6rem;
  padding: 10px 0;
  width: 100%;
  margin-left: 10px;
  caret-color: #f05123;
}

.main-wrap {
  display: flex;
  min-height: 100vh;
}
.main-wrap .sidebar {
  flex-shrink: 0;
  height: 100vh;
  width: 96px;
}
.main-wrap .content {
  flex: 1;
}

.sidebar-main {
  padding-top: 64px;
}
.sidebar-menu {
  display: flex;
  flex-direction: column;
}
.sidebar-item {
  display: flex;
  justify-content: center;
}
.sidebar-link {
  width: 72px;
  height: 72px;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-top: 4px;
  color: #333;
  transition: background-color 0.2s ease-in-out;
}
.sidebar-link:hover {
  background-color: #dce0e3;
}
.sidebar-name {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 6px;
}
.sidebar-icon {
  font-size: 2rem;
  transition: transform 0.3s ease-in-out;
}
.sidebar-active .sidebar-link {
  background-color: #dce0e3;
}
.sidebar-item:first-child .sidebar-link:hover {
  background-color: transparent;
}
.sidebar-link .sidebar-more {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #1473e6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-link .sidebar-more:hover .sidebar-icon {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.sidebar-dropdown-menu {
  min-width: 200px;
  border-radius: 10px;
  flex-direction: column;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 9;
}
.sidebar-dropdown-item {
  display: flex;
  color: #333;
  font-size: 1.6rem;
  padding: 12px 20px;
  cursor: pointer;
  gap: 0 16px;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.sidebar-dropdown-item:hover {
  background-color: #dce0e3;
}
.sidebar-item.active-dropdown #add-btn {
  transform: rotate(45deg) scale(1.4);
}

#add-btn {
  font-size: 2.6rem;
}

.content {
  max-width: calc(100% - 96px);
  padding: 64px 40px 0 20px;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 82px;
}

.slide-banner-wrap {
  position: relative;
}
.slide-banner {
  padding-top: 16px;
}
.slide-banner__item-wrap {
  display: flex;
  border-radius: 16px;
}
.slide-banner__left {
  flex: 1;
  padding: 50px 40px;
}
.slide-banner__right {
  flex: 1;
  position: relative;
}
.slide-banner__right-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide-banner__right-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-banner__desc {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.6;
  margin: 24px 0;
}
.slide-banner-facebook {
  background: linear-gradient(to right, #007efe, #06c3fe);
}
.slide-banner-facebook .btn.btn-outline:hover {
  background-color: #fff;
  color: #007efe;
}
.slide-banner-youtube {
  background: linear-gradient(to right, #fe215e, #ff9402);
}
.slide-banner-youtube .btn.btn-outline:hover {
  background-color: #fff;
  color: #fe215e;
}
.slide-banner-group {
  background: linear-gradient(to right, #7612ff, #05b2ff);
}
.slide-banner-group .btn.btn-outline:hover {
  background-color: #fff;
  color: #7612ff;
}
.slide-banner__btn-prev, .slide-banner__btn-next {
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  color: #333;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: color 0.2s linear;
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.slide-banner__btn-prev:hover, .slide-banner__btn-next:hover {
  color: #000;
}
.slide-banner__btn-prev {
  left: 0;
  transform: translate(-50%, -50%);
}
.slide-banner__btn-next {
  right: 0;
  transform: translate(50%, -50%);
}

.slick-dots {
  position: absolute;
  display: inline-flex !important;
  bottom: -10%;
  left: 40px;
  gap: 0 12px;
}

.slick-dots li button {
  font-size: 0;
}

.slick-dots li button::before {
  content: "";
  display: block;
  width: 32px;
  height: 8px;
  background-color: #dce0e3;
  border-radius: 7px;
  transition: width 0.3s ease-in-out;
}

.slick-dots li.slick-active button::before {
  background-color: #666;
  width: 50px;
}

.course {
  margin: 50px 0;
}
.course-count {
  font-size: 1.4rem;
  color: #666;
}
.course-count span {
  font-weight: 700;
}
.course-more {
  margin-left: auto;
  text-align: end;
  margin-bottom: 20px;
}
.course-img {
  display: block;
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.course-item {
  padding: 0 20px;
}
.course-link {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.course-list {
  position: relative;
}
.course-title {
  margin: 20px 0 10px;
}
.course-subrise {
  display: flex;
  gap: 0 10px;
  color: #333;
  font-size: 1.4rem;
  align-items: center;
}

.blog {
  margin-bottom: 50px;
}
.blog-list {
  position: relative;
}
.blog-item {
  padding: 0 20px;
}
.blog-link {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}
.blog-img {
  display: block;
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-title {
  margin: 20px 0 10px;
}
.blog-author {
  display: flex;
  align-items: center;
}
.blog-author-avatar {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.blog-author-name {
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  margin-left: 10px;
}

.trending-item {
  padding: 0 20px;
}
.trending-list {
  position: relative;
}
.trending-link {
  border-radius: 16px;
  overflow: hidden;
}
.trending-img {
  padding-top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.trending-heading {
  margin: 20px 0 10px;
  line-height: 3rem;
  height: 6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.trending-desc__list {
  display: flex;
  gap: 0 25px;
}
.trending-desc__item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 1.8rem;
  color: #333;
}

.footer {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.footer-main {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: #82919b;
}
.footer-img {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
}
.footer-left, .footer-right {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

/*# sourceMappingURL=app.css.map */
