$font-primary: 'Montserrat', sans-serif;


$primary-color: #f05123;
$black-color: #000;
$white-color: #fff;
$gray-color: #666;
$gray-color-thin: #82919b;
$text-color: #333;
$light-gray-color: #dce0e3;

$header-height: 64px;
$width-sidebar: 96px;
$footer-height: 32px;


